@media (max-width: 1400px) {
  .card-list-top-ten-account {
    left: 0;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    width: 100.2vw;
    padding-top: 93px;
    padding-left: 22px;
    padding-right: 30px;
  }

  .card-list-genre {
    justify-content: center;
  }

}

@media (max-width: 992px) {
  .card-list-top-ten-account {
    width: 102vw;
  }
}

@media (max-width: 577px) {
  .card-list-top-ten-account {
    padding-top: 32px;
    padding-left: 9px;
    padding-right: 9px;
  }
}
