.main-container-zatichka {
  display: flex;
  flex-wrap: wrap;
  padding-top: 166px;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.zatichka-btn {
  margin-left: 5px;
  margin-right: 5px;
  color: #36c;
  font-weight: 700;
}

.zatichka-btn:hover {
  color: rgb(255, 0, 0);
}
